body {
   display: flex;
   flex-direction: column;
   font-size: 3em;
   margin: 0 auto;
   width: 100%
}

.banner h1 {
   color: black;
   text-align: right;
   margin-right: 1em;
   font-size:2.2em;
   margin-bottom: .2em;
   user-select: none;
}

.header {
   display: flex;
   flex-direction: column;
   z-index: 100;
   width: 100%;
   background-color: white;
   position: fixed;
}

.carousel img {
   width: 110px;
   height: 110px;
   margin-top: 0;
   margin-left: .1em;
   margin-right: .1em;
   cursor: pointer;
   transition: .3s;
}

.carousel img:hover {
   transform: scale(1.2);
}

.countrySelect img {
   width: 110px;
   height: 110px;
}

.carousel{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 170px;
   margin-bottom: .7em;
   user-select: none;
}

.carousel h1 {
   user-select: none;
   cursor: pointer;
}

#scope {
   margin-left: .5em;
   margin-right: .5em;
}

#search {
   background-color:  #1c3975;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   padding-bottom:.7em;
   padding-top: .7em;
   color: white;
}

#searchInput {
   width: 50%;
   font-size: .9em;
}

#searchButton {
   user-select: none;
   background-color: #4287f5;
   border-radius: 5px;
   box-shadow: 1px 1px 2px navy;
   color: white;
   cursor: pointer;
   font-size: 1em;
   padding: .3em;
   user-select: none;
   cursor: pointer;
}

#searchButton:hover{
   background-color: #335cb0;
}

#searchButton h5{
   font-family: "Helvetica";
   font-size: .6em;
}

#expand {
   user-select: none;
   cursor: pointer;
}

#where p{
   font-size: .8em;
   text-align: left;
   user-select: none;
   max-width: 100%;
}

.filterButton h5{
   font-weight: bolder;
   cursor: pointer;
   user-select: none;
   transition: .3s;
}

.filterButton:hover{
   transform: scale(1.6);
}

.error {
   text-align: center;
}

.article {
   border-bottom: 1px solid #1c3975;
}

.menu {
   background: white;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family: "Helvetica";
   transform:translate(0, 0px);
   position: fixed;
   z-index: 2;
   font-size: .8em;

}

.content {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   transform: translateY(730px);
   margin-left: 3%;
   margin-right: 3%;
   z-index: 1;
   font-size: .8em;
}

h5{
   margin: 0 auto;
   font-weight: 100;
}

.article {
   margin-left: 1%;
   margin-right: 1%;
   max-width: 100%;
}

.article img {
   width: inherit;
   max-width: 100%;
}

.info h3 {
   color: #1c3975;
   text-align: left;
}

.info {
   margin-bottom: .5em;
   text-align:left;
}

.languageSelect, .languageSelect:after, .languageSelect:before {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   background-color: #1c3975;
   padding: .3em;
   z-index:3;
   transition: .4s;
}

.topicSelect, .topicSelect:after, .topicSelect:before {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   background-color:#d6ffd4;
   padding: .3em;
   z-index: 2;
   transition: .5s;

}

.languageSelect.is-active {
   transform: translate(0px, 715px);
}

.topicSelect.is-active {
   transform: translate(0px, 715px);
}

.language {
   margin: .2em .4em;
   border-radius: 5px;
   background-color: #4287f5;
   box-shadow: 1px 1px 2px navy;
   padding: .3em;
   cursor: pointer;
   color: white;
}

.topic {
   margin: .2em .4em;
   border-radius: 5px;
   background-color: #69d187;
   box-shadow: 1px 1px 2px #1d4228;
   padding: .3em;
   color: white;
   cursor: pointer;
}

.locked {
   background-color: #45556e;
   box-shadow: none;
}

.locked h5 {
   color: #8b98ad;
}

@media (min-width: 1000px){
   body{
      font-size: 2em;
   }

   .banner h1{
      text-align: center;
      margin-right: 0;
   }

   .carousel img, .countrySelect img{
      width: 4rem;
      height: 4rem;
   }


   .carousel h1{
      margin: 0;
   }

   .carousel{
      height: auto;
      margin-top: 1em;
   }

   #search{
      padding: .2em;
      font-size: .7em;
      justify-content: flex-end;
      height: 76px
   }

   #searchInput{
      width: 20%;
      margin-left: .5em;
      margin-right: 1em;
   }

   #searchButton {
      margin-right: .5em;
   }
   /* .languageSelect.is-active {
      transform: translate(324px, 334px);

   }

   .topicSelect.is-active {
      transform: translate(324px, 334px);

   } */

   .menu{
      font-size: .5em;
      display: block;
      z-index: 101;
      position: fixed;
      transform: translate(0px, 270px);
   }

   .topicSelect {
      justify-content: flex-start;
   }

   .filterButton h5  {
      display: none;
   }

   .topicSelect {
      background-color: #1c3975
   }

   .content{
      transform: translateY(350px);
      font-size: .6em;
   }

   .article{
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
   }

   .article img{
      margin: .5em;
   }
}
