
.main {
   display: flex;
   flex-direction: column;
   background-color: white;
   font-family: 'Helvetica'
}

.content {
   margin-left: 5%;
   margin-right: 5%
}

.article img {
   width: 100%;
}

.info h3 {
   color: #1c3975;
}

.info a{
   font-size: .7em;
}

.info {
   margin-bottom: .5em;
   text-align:left;
}

.menu {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.countrySelect {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: #c3d3de;
   padding: 1em .5em;
}

.languageSelect {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   background-color: #1c3975;
   padding: .5em;
}

.topicSelect {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   background-color:#d6ffd4;
   padding: .5em;
}

.language {
   margin: .2em .4em;
   border-radius: 5px;
   background-color: #4287f5;
   box-shadow: 1px 1px 2px navy;
   padding: .3em;
}

.topic {
   margin: .2em .4em;
   border-radius: 5px;
   background-color: #69d187;
   box-shadow: 1px 1px 2px #1d4228;
   padding: .3em;
}

.topic h5 {
   color: white;
}

/* .selected {
   background-color: #4287f5
} */

.locked {
   background-color: #45556e;
   box-shadow: none;
}

.locked h5 {
   color: #8b98ad;
}

img {
   width: 40px;
   height: auto;
   margin: 5px;
}

h5 {
   margin: .1em .3em;
   font-weight: lighter;
   color: white;
   user-select: none;
}

footer {
   font-size: .6em;
}

.carousel{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: #c3d3de;
}

.carousel div{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   user-select: none;
   color: #1c3975;

}

#search {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color:#1c3975;
   padding: .5em;
}

#searchInput{
   border-radius: 5px;
   text-align: justify;
   margin-right: 1em;
}

#searchButton {
   user-select: none;
   background-color: #4287f5;
   border-radius: 5px;
   box-shadow: 1px 1px 2px navy;
   color: white;
}
